%h2
  Preferences
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email, :title => "Your email address"
    %br/
    = f.text_field :email

    %br/
    = f.fields_for :preference do |preference_f|
      .field
        = preference_f.label :goal, :title => "A goal you would like to set yourself. It could be anything: become more confident, get into the habit of riding, ride 1000 kms a day ..."
        %br/
        = preference_f.text_area :goal
      .field
        = preference_f.label :group, :title => "Join a group. All users in the group will be able to see each others totals"
        %br/
        = preference_f.text_field :group
      .field
        = preference_f.label :time_zone, :title => "Your current time zone"
        %br/
        = preference_f.time_zone_select :time_zone
      .field
        = preference_f.label :metric, "Metric/Imperial", :title => "KMs or miles"
        %br/
        = preference_f.select :metric, [['Metric', 'km'], ['Imperial', 'mile']]
      .actions

  .separator
  .separator

  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation

  .field
    =f.submit "Update"
