%h1== Group #{@group.name}
%table
  %tr
    %th Email
    %th Cummulative duration
    %th{:span => (@kms_miles_or_both == :both) ? 2 : 1} Cummulative distance

    - @users.each do |user|
      %tr
        %td= user.email
        %td== #{hours_minutes(user.cummulative_duration)} h:m
        - if @kms_miles_or_both == :both
          %td== #{user.cummulative_distance} kms
          %td== #{user.cummulative_distance / 1.6} miles
        - elsif @kms_miles_or_both == :metric
          %td== #{user.cummulative_distance} #{user.preference.metric}
        -else
          %td== #{user.cummulative_distance * 1.6} #{user.preference.metric}
