%h1== Group #{@group.name}

- multiplier = (current_user.preference.metric == 'km') ? 1.0 : 1.6

%table
  %tr
    %th Email
    %th Cummulative duration
    %th Cummulative distance
    %th Average Speed

    - @users.each do |user|
      %tr
        %td= user.email
        %td= hours_minutes(user.cummulative_duration)

        %td= pluralize(round(user.cummulative_distance / multiplier), current_user.preference.metric)

        - if user.cummulative_speed > 0
          %td= pluralize(round(user.cummulative_speed / multiplier), "#{current_user.preference.metric}/hr")
        - else
          %td n/a
