%h1== Group #{@group.name}

- colspan = (@kms_miles_or_both == :both) ? 2 : 1
%table
  %tr
    %th Email
    %th Cummulative duration
    %th Cummulative distance
    %th Average Speed

    - @users.each do |user|
      %tr
        %td= user.email
        %td= hours_minutes(user.cummulative_duration)
        - if @kms_miles_or_both == :both
          %td== #{pluralize(user.cummulative_distance, 'kms')} &nbsp; (#{pluralize(round(user.cummulative_distance / 1.6), 'miles')})
        - elsif @kms_miles_or_both == :metric
          %td= pluralize(round(user.cummulative_distance), user.preference.metric)
        -else
          %td= pluralize(round(user.cummulative_distance * 1.6), user.preference.metric)

        - if @kms_miles_or_both == :both
          %td== #{pluralize(round(user.cummulative_speed), 'kms/hour')} &nbsp; (#{pluralize(round(user.cummulative_speed / 1.6), 'miles/hour')})

        - elsif @kms_miles_or_both == :metric
          - if user.cummulative_speed > 0
            %td= pluralize(round(user.cummulative_speed), user.preference.metric)
          - else
            %td n/a
        -else
          - if user.cummulative_speed > 0
            %td= pluralize(round(user.cummulative_speed * 1.6), user.preference.metric)
          - else
            %td n/a
