= form_for(@preference, :url => preferences_path) do |f|
  - if @preference.errors.any?
    #error_explanation
      %h2
        = pluralize(@preference.errors.count, "error")
        prohibited this preference from being saved:
      %ul
        - @preference.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :goal
    %br/
    = f.text_area :goal
  .field
    = f.label :group
    %br/
    = f.text_field :group
  .field
    = f.label :time_zone
    %br/
    = f.time_zone_select :time_zone
  .field
    = f.label :metric, "Metric/Imperial"
    %br/
    = f.select :metric, [['Metric', 'km'], ['Imperial', 'mile']]
  .actions
    = f.submit
