= form_for(@ride) do |f|
  - if @ride.errors.any?
    #error_explanation
      %h2
        = pluralize(@ride.errors.count, "error")
        prohibited this ride from being saved:
      %ul
        - @ride.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :distance
    %br/
    = f.text_field :distance, :class => 'distance'
    (#{current_user.preference.metric})
  .field
    = f.label :duration
    %br/
    = f.text_field :duration_hours, :class => 'time'
    = f.text_field :duration_minutes, :class => 'time'
    %br/
    %span.example
      (Hours)
    %span.example
      (Minutes)
  .separator
  .field
    = f.label :date, "Date/time"
    %br/
    = text_field_tag "ride[date]", (@ride.date) ? fmt_date(@ride.date) : fmt_date(Time.now), :class => 'time'
    = text_field_tag "ride[time]", fmt_time(@ride.time), :class => 'time'
    %br/
    %div.example
      (Day/Month/Year)
    %div.example
      (hh:mm)
  .actions
    = f.submit
