= form_for(@ride) do |f|
  - if @ride.errors.any?
    #error_explanation
      %h2
        = pluralize(@ride.errors.count, "error")
        prohibited this ride from being saved:
      %ul
        - @ride.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :length, "Length (in #{kms_or_miles})"
    %br/
    = f.text_field :length
  .field
    = f.label :duration, "Duration (in minutes)"
    %br/
    = f.text_field :duration
  .separator
  .field
    = f.label :time
    %br/
    = f.time_select :time
  .field
    = f.label :date
    %br/
    = f.date_select :date
  .actions
    = f.submit
