= form_for(@ride) do |f|
  - if @ride.errors.any?
    #error_explanation
      %h2
        = pluralize(@ride.errors.count, "error")
        prohibited this ride from being saved:
      %ul
        - @ride.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :distance
    %br/
    = f.text_field :distance, :class => 'distance'
    (#{current_user.preference.metric})
  .field
    = f.label :duration
    %br/
    = f.text_field :duration_hours, :class => 'time-left'
    = f.text_field :duration_minutes, :class => 'time-right'
    (hours, minutes)
  .separator
  .field
    = f.label :date
    %br/
    = text_field_tag "ride[date]", fmt_date_time(@ride.date), :class => 'date'
    %br/
    %span.example
      eg. 4pm, 1624, two hours ago. Defaults to now.
  .actions
    = f.submit
