%h1 Your Rides
%table
  %tr
    %th Distance
    %th Duration
    %th Speed
    %th Cumulative distance
    %th Cumulative duration
    %th Date/Time
    %th Time

  - cummulative_distance = 0
  - cummulative_duration = 0
  - @rides.each do |ride|
    - cummulative_distance += (ride.distance || 0)
    - cummulative_duration += (ride.duration || 0)
    %tr
      %td= (ride.distance) ? "#{round(ride.distance)} #{current_user.preference.metric}": "n/s"
      %td= (ride.duration) ? "#{hours_minutes(ride.duration)}" : "n/s"
      %td= (ride.duration && ride.distance) ? "#{round((ride.distance / ride.duration) * 60)} #{current_user.preference.metric}/hr" : "n/a"
      %td== #{round(cummulative_distance)} #{current_user.preference.metric}
      %td= hours_minutes(cummulative_duration)
      %td= fmt_date(ride.date)
      %td= fmt_time(ride.time)
      %td= link_to 'Edit', edit_ride_path(ride)
%br/
= link_to 'New Ride', new_ride_path
