!!!
%html
  %head
    %title TourDeFeb
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      #header
        %a{:href => ((user_signed_in?) ? rides_url : root_url), :id => 'header'}
          <img src="/images/logo.png"></img>
        #user_nav
          - if user_signed_in?
            =link_to 'Rides', rides_path, :title => 'Your rides'
            |
            - if current_user.group
              %a{:href => "/groups/#{current_user.group.name}", :title => "#{current_user.group.name} group"}
                = current_user.group.name
              |
            =link_to current_user.email, '/users/edit', :title => 'Preferences'
            |
            = link_to 'logout', destroy_user_session_path, :title => 'Logout'
          - else
            %a{:href => new_user_session_url}= "Sign in"

      - [:notice, :warning, :error, :alert, :success].each do |f|
        - if flash[f]
          .flash{:class => f.to_s}= flash[f]

      #main
        = yield
