!!!
%html
  %head
    %title TourDeFeb
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      #header
        %a{:href => root_url, :id => 'header'}
          <img src="../images/logo.png"></img>
        #user_nav
          - if user_signed_in?
            =link_to current_user.email, edit_preferences_path
            |
            = link_to 'logout', destroy_user_session_path
          - else
            %a{:href => new_user_session_url}= "Sign in"

      - [:notice, :warning, :error, :alert, :success].each do |f|
        - if flash[f]
          .flash{:class => f.to_s}= flash[f]

      #main
        = yield
