!!!
%html
  %head
    %title TourDeFeb
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      .header
        #header
          #title
            = link_to '', root_url
          #user_nav
            - unless user_signed_in?
              %a{:href => '/auth/twitter'}= "Sign in"

        - [:notice, :warning, :error, :alert, :success].each do |f|
          - if flash[f]
            .flash{:class => f.to_s}= flash[f]
      .main
        = yield
